.detailed-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.card {
  display: flex;
  width: 80%;
}

.course-detail-image {
  width: 50%;
}

.card-details {
  background-color: #ffffff;
  padding: 30px;
  font-family: Roboto;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.head {
  margin-bottom: 10px;
  font-size: 36px;
}

.description {
  font-size: 24px;
  line-height: 2;
  color: #475569;
  font-weight: 400;
}
